<header id="header" class="site-header">
  <nav id="topbar" class="site-topbar visible-lg visible-md">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">Questions? Call us: +91 741 6686 847</div>
        <div class="social-links col-sm-6">
          <a href="https://twitter.com/idealogylabs" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="http://www.linkedin.com/company/3685720" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </nav>

  <nav id="navbar" class="site-navbar navbar navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
        </button>
        <h1 class="navbar-brand"><i class="fa fa-lightbulb-o"></i> <a href="/">Idealogy</a></h1>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul id="navigation" class="nav navbar-nav navbar-right">
          <li><a href="http://idealogylabs.github.io/">Home</a></li>
          <!-- <li><a href="#model">Model</a></li> -->
          <!-- <li><a href="#portfolio">Portfolio</a></li> -->
          <!-- <li><a href="#testimonials">Testimonials</a></li> -->
          <!-- <li class="active"><a href="/blog" class="current">Blog</a></li> -->
          <!-- <li><a href="#clients">Clients</a></li> -->
          <!-- <li><a href="#contact">Contact</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header> -->
